In [4]:
bil1 = input('isikan bilangan 1: ')
bil2 = input('isikan bilangan 2: ')
hasil = int(bil1) + int(bil2)
print("Hasil dari:",bil1,"+",bil2,"=",hasil)

isikan bilangan 1: 13
isikan bilangan 2: 13
Hasil dari: 13 + 13 = 26

<ol>lakukan pengecekan tipe data nilai dari hasil input</ol>

In [13]:
panjang = input('panjang :')
lebar = input('lebar : ')
hasil = int(panjang) * int(lebar)
hasil = int(2) * int(panjang) + int(lebar)
print("Luas =",panjang,"x",lebar,"=",hasil)
print("Keliling =",2,"*","(",panjang,"+",lebar,")","=",hasil )

panjang :7
lebar : 7
Luas = 7 x 7 = 21
Keliling = 2 * ( 7 + 7 ) = 21

In [14]:
print("A","B","C","D", sep='@_@') #sep = separator / pembatas

A@_@B@_@C@_@D

<ol>3. cara melakukan print dengan menambahkan end di akhir baris</ol>

In [15]:
print("A","B","C","D", sep='\n', end="^_^")

A
B
C
D^_^

In [17]:
num_1 = 8
num_2 = 10

# Hasil dari 8 modulus 10 = 8
#strr,format()
print('Hasil dari {} modulus {} = {}' .format(num_1,num_2,num_1%num_2))

Hasil dari 8 modulus 10 = 8

In [19]:
fname = "Rudi"
mname = "Hartono"
lname = "Darmawan"

print('Nama anda {2} {0} {1}' .format(fname,mname,lname))

Nama anda Rudi Hartono Darmawan

<h3>pengenalan string<h3>

In [20]:
print('Nama anda {nama}, nilai anda {nilai}' .format(nama='Andri',nilai=70))

Nama anda Andri, nilai anda 70

<h3>indexing<h3>

In [36]:
univ = "Universitas Nusa Putra"

print("karakter pertama : ",univ[0])
print("karakter terakhir: ",univ[-1])
#Universitas
print(univ[0:11])
print(univ[-5:])
print(univ[17:])
print(univ[::-1])

karakter pertama :  U
karakter terakhir:  a
Universitas
Putra
Putra
artuP asuN satisrevinU

<h3>STRING<h3>

In [39]:
f_name = "Rudi"
l_name = 'Andri'

print(f'Nama saya {f_name} {l_name}')

first = 100
second = 20

print(f'Hasil penjumlahan {first} + {second} = {first+second}')

Nama saya Rudi Andri
Hasil penjumlahan 100 + 20 = 120

<h3> FUNGSI STRING<h3>

In [62]:
nama = "Andri,Budi,Cika"
nama2 = "Andri Budi Cika"
#split -> memisahkan string berdasarkan karakter tertentu
print(nama2.split())
print(nama.split(','))

#join ->mengabungkan string kedalam kumpulan karakter
print('@'.join(nama.split(',')))

#input tgl lahir -> 18/oktober/2010
#input nama -> Bill Gate
#outputt
#Tgl :18,Bulan:oktober,Tahun : 2010
#Nama Inisial : BG

tgl = input("Masukkan tanggal lahir : ")
nama = input("Masukkan nama : ")
pemisah =tgl.split("/")
print("Output : ")
print(f"Tgl : {pemisah[0]},Bulan:{pemisah[1]},Tahun:{pemisah[2]}")
pemisah2 = nama.split()
nama_pertama =pemisah2[0]
nama_terakhir =pemisah2[1]
print(f"Nama inisial : {nama_pertama[0]+nama_terakhir[0]}")

['Andri', 'Budi', 'Cika']
['Andri', 'Budi', 'Cika']
Andri@Budi@Cika
Masukkan tanggal lahir : 18/oktober/2010
Masukkan nama : Bill Gate
Output :
Tgl : 18,Bulan:oktober,Tahun:2010
Nama inisial : BG